<% include ../nav.html %>
  
<style>
  #formwin{
    padding: 30px;  
  }
  
</style>  
<script>
  changeNavActive('/self/profile');
  $(document).ready(function(){
  
  });
</script>
<!-- 内部导航 -->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/self/profile">个人资料</a></li>
  <li role="presentation"><a href="/self/profile/headimg">修改头像</a></li>
  <li role="presentation"><a href="/self/profile/weixin">绑定微信</a></li>
</ul>

  <div id="formwin">
  
  <form class="form-horizontal">

    <div class="form-group">
      <label for="yunname" class="col-sm-2 control-label">真实姓名</label>
      <div class="col-sm-10">
        <input type="text" name="yunname" class="form-control" id="yunname" >
      </div>
    </div>
   

    <div class="form-group">
      <label for="youarea" class="col-sm-2 control-label">所在地</label>
      <div class="col-sm-10">
      <input type="text" name="youarea" class="form-control" id="youarea" >
      </div>
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1" class="col-sm-2 control-label">单位名称</label>
      <div class="col-sm-10">
      <select class="form-control" id="youarea" check-type="required">
        <option></option>
        <option>地区1</option>
        <option>地区2</option>
        <option>地区3</option>
        <option>地区4</option>
        <option>地区5</option>
      </select>
      </div>
    </div>
    
    <div class="form-group">
      <label for="unittyle" class="col-sm-2 control-label">单位性质</label>
      <div class="col-sm-10">
      <select class="form-control" id="unittyle" check-type="required">
        <option></option>
        <option>性质1</option>
        <option>性质2</option>
        <option>性质3</option>
        <option>性质4</option>
        <option>性质5</option>
      </select>
      </div>
    </div>
    
    <div class="form-group">
      <label for="unitaddr" class="col-sm-2 control-label">单位地址</label>
      <div class="col-sm-10">
      <input type="text" name="unitaddr" id="unitaddr" class="form-control" id="exampleInputPassword1" >
      </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
    
  </form>
    
  
  </div>


  
<% include ../footer.html %>