<% include header.html %>
<script src="/js/bootstrap3-validation.js"></script>
<script src="/js/jquery.cookie.js"></script>
  
<style>
  .carousel .item {
    height: 400px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
  .carousel-caption{
    text-align:left;
    right:33%;
    left:8%;
  }
  .marketing {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }

  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }
  
  .panel label {
    color: #333;
    font-weight:700;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0,0,0,.6); 
  }
  
  #scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8;
  }
  
  #scrollUp:hover{
    background-color:#333; 
  }
  
  .loginwin{
    position: absolute;
    right: 8%;
    top: 20px;
    width: 308px;
    height: 500px;
  }

</style>  
  
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $(window).scroll(function(){$(window).scrollTop()>400?$('#scrollUp').removeClass('hidden').addClass('show'):$('#scrollUp').removeClass('show').addClass('hidden');});
    $('#youname').val($.cookie('yunusername'));
    
    $('.loginwin form').validation({reqmark:false,icon:true});
    $('#login').on('click',function(){
      if ($(".loginwin form").valid(this,function(err){
          err==true?$(".loginwin .panel").removeClass('panel-info').addClass('panel-danger'):'';
        })==false){return false;};
      
      //ok 向下执行
      $.cookie('yunusername',$('#youname').val(),{ path: '/', expires: 30 });
    });
    
    $('.loginwin input').on('focus',function(){$(".loginwin .panel").removeClass('panel-danger').addClass('panel-info')});
    
  });
  
</script>

    <div class="container_full">
      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
        
      <div class="carousel-inner" role="listbox">
        
        <% include index-carousel.html %>   

      </div>

    </div><!-- /.carousel -->
      
      
  <div class=" loginwin">
    <div class="panel panel-info">
    <div class="panel-heading">会员登录</div>
    <div class="panel-body"  style="padding-bottom: 0px;">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="youname" placeholder="注册的手机号码" data-toggle="tooltip" data-placement="left" title="登录名" check-type="mobile required">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="inputPassword3" placeholder="不少于6位的密码" data-toggle="tooltip" data-placement="left" title="密码" check-type="required">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-6">
          <div class="checkbox">
            <input type="checkbox">七天内记住我
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4" style="margin-top: 8px;">
            <a href="/forget">忘记密码?</a> 
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 ">
            <a href="/self"  class="btn btn-primary btn-lg btn-block" role="button" id='login'>登   录</a>
            <hr style="margin-bottom:0px;">
            <small>你还没有账号？</small>
            <a href="/register" class="btn btn-warning btn-lg btn-block" role="button" style="margin-top: 10px;">免费注册</a>
        </div>
      </div>
    </form> 
    </div>
    </div>
  </div>
      
      
    <!-- 功能项 -->
    <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="/img/index_1.png" alt="Generic placeholder image" width="140" height="140">
        <h2>功能1</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">详情 &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/img/index_2.png" alt="Generic placeholder image" width="140" height="140">
        <h2>功能2</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-default" href="#" role="button">详情 &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="/img/index_3.png" alt="Generic placeholder image" width="140" height="140">
        <h2>功能3</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">详情 &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  
   
    <!-- end --->
      
     <!-- 功能介绍   -->  
    <hr class="featurette-divider">  
      
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">功能介绍等等<span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" alt="Generic placeholder image">
      </div>
    </div>
      
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block"  src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" alt="Generic placeholder image">
      </div>
    </div>  
      
    <hr class="featurette-divider">  
      
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">功能介绍等等<span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" alt="Generic placeholder image">
      </div>
    </div>  
      
   
      
    </div>  
      
    </div>
  

  <a  class="hidden" id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="回到顶端">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
  </a>


<% include footer.html %>