
/* 解决加上图标之后，表格，tab 的样式变化了，变小了
   作者：龙仕云  2015-7-22
*/

.glyphicon {
  display: inline;
}

/*解决左边的nav 最后一行线蓝色没有了*/
#subnav .panel{
/*  border-bottom:  transparent 2px solid;*/
}


/*解决 jquery-confirm.js 弹出窗口不支持ie8的问题*/
.jconfirm-bg{
  background-color:#000; 
  opacity:0.5;
  filter:alpha(opacity=50);
}
