<% include ../nav.html %>

<script>
  
  $(document).ready(function(){
  
    changeNavActive('/self/project');
    $('[data-toggle="tooltip"]').tooltip();
    
  });
  
  
</script>
  

  
<div class="panel panel-default">
            
            
   <div class="panel-heading" >

        工程管理

    </div>

  <div class="panel-body" style="padding:0px">

      <div class="pull-right">
      <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="查找内容..." width="200px">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
      </form>
     </div>  




   </div>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>名称</th>
        <th>造价</th>
        <th>大小</th>
        <th>编制日期</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>A工程</td>
        <td>233.3</td>
        <td>34mb</td>
        <td>一分钟之前</td>
        <td><a href="/self/project/detail/xxx-xxx-xxx-xxxx" data-toggle="tooltip" title="" data-original-title="工程的附件、保存历史、简约的组价情况">概况</a>
        <a href="#" data-toggle="tooltip" title="" data-original-title="弹出与预算软件一样的浏览界面">组价</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>B工程</td>
        <td>23233.2390</td>
        <td>159kb</td>
        <td>2015-05-23 12:23</td>
        <td><a href="#">概况</a> <a href="#">组价</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>C工程</td>
        <td>231.2345</td>
        <td>342kb</td>
        <td>2015-04-23 12:23</td>
        <td><a href="#">概况</a> <a href="#">组价</a></td>
      </tr>
    </tbody>
  </table>
  
  <div class="panel-footer">
    <nav >
    <ul class="pagination ">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    </nav>
  </div>
  
</div>
          
  
<% include ../footer.html %>