<% include ../nav.html %>
  
<style>
  #formwin{
    padding: 30px;  
  }
  
  .mainbody a {
    color: #333  ; 
  }
  
  .mainbody a.read {
    color: #999  ; 
  }
  
  .mainbody a:hover{
   color: #337ab7; 
   text-decoration: none;
  }
  
  th.state-column{
    border: #ddd 0px solid;
  }
  
  td.state-column{
    width: 6px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  td .state-unread{
    font-size: 16px;
    color: #428bca; 
  }
  
  
  

  

  
</style>  
<script>
  changeNavActive('/self/message');
  $(document).ready(function(){
  
    $('.messageinfo').on('show.bs.modal', function (event) {
      var a = $(event.relatedTarget) 
      var recipient = a.data('text');
      var msgid = a.data('msgid');  //用于回写已读了
      
      var modal = $(this)
      modal.find('#message-text').text(recipient);
    });
  });
</script>

  
<div class="panel panel-default">
            
            
   <div class="panel-heading" >

        我的信息

    </div>

  <div class="panel-body" style="padding:0px">

      <div class="pull-right">
      <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="查找内容..." width="200px">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div><!-- /input-group -->
      </form>
     </div>  

  </div>
  
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th class="state-column"></th>
        <th class="state-column">信息</th>
        <th>来源</th>       
        <th>时间</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td scope="row">1</td>
        <td class="state-column"></td>
        <td> <a href="#" data-toggle="modal" data-target=".messageinfo" data-text="快乐每从辛苦得，便宜多自吃亏来。" data-msgid="12" class="read">你已注册成功，你保存好你的账号与密码。</a></td>
        <td>系统</td>
        
        <td>一分钟之前</td>
        <td></td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td class="state-column"><span class="state-unread">●</span></td>
        <td><a href="#">www企业邀请你加入</a</td>
        <td>系统</td>
        
        <td>2015-05-23 12:23</td>
        <td><a href="#">同意</a> <a href="#">不同意</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="state-column"></td>
        <td> <a href="#" class="read">你的密码修改成功。</a> </td>
        <td>系统信息</td>
        
        <td>2015-04-23 12:23</td>
        <td></td>
      </tr>
      
      <tr>
        <th scope="row">4</th>
        <td class="state-column"></td>
        <td> <a href="#" class="read"> 我请你k歌。</a></td>
        <td>龙三少</td>
        <td>2015-04-23 12:23</td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
</div>
  

<div class="pager">
  <div class="pagerbar">
    <a class="first disabled" href="javascript:;" title="首页"></a>
    <a class="disabled" href="javascript:;">上一页</a>
    <a class="current" href="javascript:;">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <span class="ellipsis">…</span>
    <a href="#">下一页</a>
    <a class="last" href="#" title="末页">
    </a><span class="addition"><span class="redirect">跳转到<input class="pn" value="2" name="pn" type="text" data-toggle="tooltip" data-placement="top" title="共10页">页<a class="go" href="javascript:;" onclick="var $pn=this.parentNode.getElementsByTagName('input')[0].value||1;$pn=/[^\d]/g.test($pn)?0:$pn;$pn=Math.min(Math.max($pn, 1),100);location.href='http://www.qzhyun.com/zhaopin/?dqs=070020&amp;curPage=$pn$'.replace(/\$pn\$/ig, $pn-1);return false;">确定</a></span></span>
  </div>
</div>
  
  

<!--弹出信息的内容-->
<div class="modal fade messageinfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <p id="message-text"> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


  
<% include ../footer.html %>