<% include ../nav.html %>
<script src="/js/highcharts.js"></script>
<script src="/js/highcharts-3d.js"></script>

<style>
  .rowpanel{
    padding: 10px;
  }
  
  .thumbnail h3{
    margin-top:0px;
    margin-bottom: 5px;
  };
  
  #dowin{
    margin-top: 20px;
    padding: 20px;
  }
  
  .tabletool{
    margin-top: 5px; 
    
  }
  
  tr.action{
    background-color:#97C3E8;
  }
  
  #diff{
    margin-top: 5px; 
  }
  
</style>  
<script>
  
  changeNavActive('/self/zb');
  
  function loadchart(curid){
    //
    $(".zbname").text(curid);
    var chart_1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart-1',
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 7,
                beta: 10,
                depth: 50,
                viewDistance: 25
            }
        },
        title: {text: '总造价分析'},
        plotOptions: {
            column: {depth: 25}
        },
        xAxis: {
            categories: ['分部分项','措施项目','其他项目','规费','税金']
        },
        legend:{enabled:false},credits:{enabled:false},
        series: [{
            name:'万元',
            data: [['分部分项',29.9],['措施项目',71.5], ['其他项目',106.4], ['规费',129.2], ['税金',144.0]] //这个数据需要ajax取出
        }]
    });
    
    
    //
    var chart_2 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart-2',
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 7,
                beta: 10,
                depth: 50,
                viewDistance: 25
            }
        },
        title: {text: '直接工程费分析'},
        plotOptions: {
            column: {depth: 25}
        },
        xAxis: {
          categories: ['人工费','材料费','机械费','管理费','利润','风险']
        },
        legend:{enabled:false},credits:{enabled:false},
        series: [{
            name:'万元',
            data: [['人工费',29.9],['材料费',71.5], ['机械费',106.4], ['管理费',129.2], ['利润',144.0],['风险',2.3]]
        }]
    });
  };
  
  //加载对比数据
  function loaddiffdata(curid){
    $("#diff tbody").html("");
    var data = [{name:'方案1',date:'2015-3-2'},{name:'方案2',date:'2015-3-1'}];
    var no=1;
    for(var i=0;i<data.length;i++){
      var row = data[i];
      $("#diff tbody").append('<tr>' + 
                              '<td>' + no++ + '</td>' + 
                              '<td>'  + row.name + '</td>' +
                              '<td>'  + row.date + '</td>' + 
                              '<td><a href="#">查看</a> <a href="#"  onclick="deldiff(\''+ row.name + '\')">删除</a></td>' +
                              +'</tr>');  
    };
  };
  
  
  function deldiff(id){
    alert(id);
  }
  
  $(document).ready(function(){
    loadchart('第一行的id');
    loaddiffdata('第一行的id');
    $('#zblist td:not(".func")').on('click',function(){
      $("#zblist tr.action").removeClass('action');
      $(this.parentNode).addClass('action');
      
      //更新下面的图示及数据内容
      loadchart($(this.parentNode).attr('id')); 
      loaddiffdata($(this.parentNode).attr('id'));
    });
  });
  
</script>


<div id="dowin" style="padding: 10px;">
            
  <div class="tabletool" style="padding:0px">
      <div class="row">
      <div class="col-md-6">
      <div class="tabletool">
        <a class="btn btn-default" role="button" href="/self/zb/create" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> 生成指标</a> 
      </div>
      </div>
      <div class="col-md-6">
      <div class="pull-right">
        <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="查找内容..." width="200px">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
        </form>
     </div>  
    </div>    

    </div> <!-- row -->

   </div>
  <table id="zblist" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>工程名称</th>
        <th>分析模板</th>
        <th>工程类别</th>
        <th>建筑面积</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <tr class="action" id="guidxxxxxx1">
        <th scope="row">1</th>
        <td>A文件</td>
        <td>默认模板</td>
        <td>住宅</td>
        <td>212</td>
        <td class="func"><a href="#">查看</a> <a href="#">对比</a></td>
      </tr>
      <tr id="guidxxxxxx2">
        <th scope="row">2</th>
        <td>B文件</td>
        <td>自定义模板</td>
        <td>住宅</td>
        <td>202</td>
        <td class="func"><a href="#">查看</a> <a href="#">对比</a></td>
      </tr>
      <tr id="guidxxxxxx3">
        <th scope="row">3</th>
        <td>C文件</td>
        <td>自定义模板</td>
        <td>住宅</td>
        <td>201</td>
        <td class="func"><a href="#">查看</a> <a href="#">对比</a></td>
      </tr>
    </tbody>
  </table>
     
  <div class="pager">
    <div class="pagerbar">
      <a class="first disabled" href="javascript:;" title="首页"></a>
      <a class="disabled" href="javascript:;">上一页</a>
      <a class="current" href="javascript:;">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span class="ellipsis">…</span>
      <a href="#">下一页</a>
      <a class="last" href="#" title="末页">
      </a><span class="addition"><span class="redirect">跳转到<input class="pn" value="2" name="pn" type="text" data-toggle="tooltip" data-placement="top" title="共10页">页<a class="go" href="javascript:;" onclick="var $pn=this.parentNode.getElementsByTagName('input')[0].value||1;$pn=/[^\d]/g.test($pn)?0:$pn;$pn=Math.min(Math.max($pn, 1),100);location.href='http://www.qzhyun.com/zhaopin/?dqs=070020&amp;curPage=$pn$'.replace(/\$pn\$/ig, $pn-1);return false;">确定</a></span></span>
    </div>
  </div>
    
</div>
  
<div>

  <!-- 下面的图示及相关数据 -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">图示</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">对比结果</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <h4 class="zbname" style=" text-align: center; "></h4>
      <div class="row">
        <div class="col-md-6">
          <div id="chart-1"></div>
        </div>
        <div class="col-md-6">
          <div id="chart-2"></div>
        </div>
      
      </div>  
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <table id="diff" class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>方案名称</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
    </div>
  </div>

</div>

    


  
<% include ../footer.html %>